@import "https://fonts.googleapis.com/css?family=Poppins";

body {
	margin: 0;
	line-height: 1;
	background: #f7f7f7;
	font-family: 'Poppins', sans-serif;
}


.head {
	background-color: #fff;
	padding: 10px;
	text-align: center;
	// border-bottom: 1px solid #eee;
	box-shadow: 0 1px 5px -1px rgba(0,0,0,.15);
}