<% include components/head/_head-home %>
<div class="col-xs-12 page-404 block">
	<div class="col-xs-12 content-404">
		<h1>404</h1>
		<h4>Page not found</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Earum quibusdam cupiditate ipsum a dolor quia placeat, quidem quas obcaecati <br>aliquid assumenda pariatur mollitia impedit laudantium necessitatibus <br>aut aspernatur ducimus at?</p>
		<a href="/" class="btn-black">Back to home</a>
	</div>
</div>
<% include components/_footer %>