<% include components/head/_head-contacts %>
<div class="col-xs-12 contacts-page">
	<div class="col-xs-12 contacts-form text-center animated bounceInDown">
		<div class="col-xs-12 icon">
			<a href="#" title="vk"><i class="fa fa-vk"></i></a>
			<a href="#" title="facebook"><i class="fa fa-facebook"></i></a>
			<a href="#" title="google-plus"><i class="fa fa-google-plus"></i></a>
			<a href="#" title="odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<!-- <a href="#"><i class="fa fa-pinterest"></i></a> -->
			<!-- <a href="#"><i class="fa fa-youtube"></i></a> -->
			<!-- <a href="#"><i class="fa fa-codepen"></i></a> -->
			<!-- <a href="#"><i class="fa fa-instagram"></i></a> -->
			<!-- <a href="#"><i class="fa fa-bitbucket"></i></a> -->
			<!-- <a href="#"><i class="fa fa-behance"></i></a> -->
			<!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
			<!-- <a href="#"><i class="fa fa-tumblr"></i></a> -->
			<!-- <a href="#"><i class="fa fa-github"></i></a> -->
			<!-- <a href="#"><i class="fa fa-vimeo"></i></a> -->
		</div>
		<div class="col-xs-12 text-center or">
			<p>or</p>
		</div>
		<div class="col-xs-12 form-contacts">
			<form method="POST">
				<fieldset>
					<group>
						<label>
							<input class="alert" type="text" placeholder="name *" onfocus="this.value=' '" requred />
							<legend>name</legend>
						</label>
						<label>
							<input class="alert" type="text" placeholder="@ email address *" onfocus="this.value=' '" requred />
							<legend>email</legend>
						</label>
						<label>
							<input type="text" placeholder="websites" onfocus="this.value=' '" requred />
							<legend>websites</legend>
						</label>
					</group>
				</fieldset>
				<!-- <fieldset>
					<group>
						<label>
							<input type="number" name="phone" placeholder="phone no." min="0" />
							<legend>phone no.</legend>
						</label>
						<label>
							<input class="alert" type="text" name="subject" placeholder="subject *" requred />
							<legend>subject</legend>
						</label>
					</group>
				</fieldset> -->
				<fieldset>
					<label>
						<textarea class="alert" rows="4" placeholder="text heare..." onfocus="this.value=' '" requred ></textarea>
					</label>
				</fieldset>
				<fieldset>
					<label>
						<button class="btn-blue" type="submit">submit</button>
					</label>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<% include components/_footer %>