<% include components/head/_head-home %>
<div id="particles-js"></div>
<div id="page-wrapper">
	<div class="col-xs-12 block slide-home">
		<div class="col-md-12 Slide carousel home" data-interval="false">
			<div class="carousel-inner">
				<div class="item active">
					<div class="carousel-caption">
						<div class="col-xs-12 text-center animated bounceIn">
							<div class="logo">
								<img src="images/favicon.png"/>
							</div>
							<h3>Your designer and developer.</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut <br>aliquip ex ea commodo
							consequat.</p>
						</div>
						<div class="col-xs-12 text-center btns animated bounceInUp">
							<a href="portfolio" class="btn-black">Portfolio</a>
							<a href="contacts" class="btn-border-black">Contacts</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="carousel-caption">
						<div class="col-xs-12 home-icons">
							<div class="col-md-12 animated bounceInLeft">
								<div class="col-xs-6">
									<div class="col-md-4">
										<img src="images/icon_responsive.svg"/>
									</div>
									<div class="col-md-8">
										<h5>Responsive</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="col-md-4">
										<img src="images/icon_components.svg"/>
									</div>
									<div class="col-md-8">
										<h5>Components</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 sector animated bounceInRight">
								<div class="col-xs-6">
									<div class="col-md-4">
										<img src="images/icon_less.svg"/>
									</div>
									<div class="col-md-8">
										<h5>Less</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="col-md-4">
										<img src="images/icon_themes.svg"/>
									</div>
									<div class="col-md-8">
										<h5>Costumaser</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="right carousel-control text-center" href=".Slide" role="button" data-slide="next">
				<span aria-hidden="true"><img src="/images/right.svg" /></span>
			</a>
		</div>
		<div class="col-xs-12 footer-home">
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-vk"></i></a></li> -->
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li> -->
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-behance"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
				<li><a href="#"><i class="fa fa-codepen"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				<!-- <li><a href="#"><i class="fa fa-github"></i></a></li> -->
				<!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
			</ul>
		</div>
	</div>
</div>