<% include components/head/_head-info %>
<div class="col-md-12 block">
	<div class="col-xs-12 card info animated bounceInDown">
		<div class="col-xs-12 col-md-4 about-me-small">
			<div class="col-xs-12 foto">
				<div class="col-xs-12 foto-image	">
					<img src="images/jV899SZzJZ4.jpg"/>
				</div>
				<h3>[ volitilov ]</h3>
				<p>Developer & WebDesigner</p>
			</div>
			<div class="col-xs-12 about">
				<h5>About me:</h5>
				<div class="col-xs-12 description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima numquam quos, fugiat libero delectus quis vero molestias ratione cum modi dignissimos ea magnam voluptatem voluptas provident! Quae optio, magnam dolorem.</p>
				</div>
			</div>
			<div class="col-xs-12 work">
				<h5>Work:</h5>
				<div class="col-xs-12 description">
					<ul>
						<li>Experience</li>
						<li>Currently</li>
					</ul>
					<ul class="ul-right">
						<li>10+ years</li>
						<li>UI Designer</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-8 about-me-big">
			<div class="col-xs-12 experience">
				<h5>Experience:</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-xs-12 skills">
				<h5>Skills:</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>Less</li>
					<li>JS</li>
					<li>EJS</li>
					<li>Python</li>
				</ul>
				
			</div>
			<div class="col-xs-12 services">
				<h5>Services:</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat.</p>
				<ul>
					<li>Development and interface design</li>
					<li>Design and development of applications</li>
					<li>Design and development of mobile applications</li>
					<li>Development and design sites</li>
					<li>Optimizing websites</li>
					<li>Redesign</li>
					<li>Technical project support</li>
					<li>Responsive design</li>
					<li>Web animations</li>
				</ul>
				
			</div>
		</div>
	</div>
</div>
<% include components/_footer %>