<% include components/head/_head-portfolio %>
<div class="col-md-12 block">
	<div class="col-md-12 Slide carousel portfolio" data-interval="false">
		<div class="carousel-inner">
			<div class="item active">
				<div class="carousel-caption">
					<div class="col-xs-12 animated bounceInRight">
						<ul>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
							<% include components/_state-active %>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- <a class="right carousel-control text-center" href=".Slide" role="button" data-slide="next">
			<span aria-hidden="true"><img class="animated fadeInRight" src="/images/right.svg" /></span>
		</a> -->
	</div>
</div>
<% include components/_footer %>
