/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  width: 50px;
  height: 80px;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden; 
  outline: 1px solid transparent; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: rgb(2, 168, 243);
  text-align: center;
  background-color: #f7f7f7;
  font-size: 60px;
}
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-divider {
  float: left;
  position: relative;
  width: 20px;
  height: 80px;
}

.flip-clock-divider:first-child {
  width: 0; 
}

.flip-clock-dot {
  display: block;
  background: #555;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  left: 7px;
  margin-top: 45px; 
}

.flip-clock-dot.top {
  top: 20px; 
}

.flip-clock-dot.bottom {
  bottom: 30px; 
}