.portfolio-small {
  background: rgba(2, 168, 243, 0.1);
  background: -webkit-linear-gradient(to bottom, transparent, rgba(2, 168, 243, 0.1));
  background: linear-gradient(to bottom, transparent, rgba(2, 168, 243, 0.1));
  padding: 0px;
  padding-top: 180px;
  text-align: center;
}
.portfolio-small .portfolio-small-item {
  padding: 0px;
}
.portfolio-small .portfolio-small-item .portfolio-nav {
  padding-bottom: 20px;
}
.portfolio-small .portfolio-small-item .portfolio-nav ul {
  padding: 0px;
}
.portfolio-small .portfolio-small-item .portfolio-nav li {
  display: block;
}
.portfolio-small .portfolio-small-item .portfolio-nav li a {
  font-size: 15px;
  text-transform: uppercase;
  color: #02a8f3;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 4px;
}
.portfolio-small .portfolio-small-item .portfolio-nav li a:hover {
  color: #000;
}
.portfolio-small .portfolio-small-item .portfolio-nav li .active {
  color: #000;
  background-color: #fff;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.15);
}
.portfolio-small .portfolio-small-item .load-more {
  padding: 100px 0px;
}
.portfolio-small .portfolio-small-item .load-more a {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #02a8f3;
  padding: 0px 10px;
  display: inline-block;
}
.portfolio-small .portfolio-small-item .load-more a:hover {
  color: #000;
}

.portfolio-items ul,
.portfolio-items2 ul {
  padding: 0px;
  list-style: none;
}
.portfolio-items,
.portfolio-items2 {
  display: inline;
  vertical-align: middle;
}
.portfolio-items .wraper,
.portfolio-items2 .wraper {
  transition: 0.3s;
  padding: 10px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
}
.portfolio-items .wraper:hover,
.portfolio-items2 .wraper:hover {
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.15);
}
.portfolio-items .portfolio-item,
.portfolio-items2 .portfolio-item {
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.portfolio-items .portfolio-item img,
.portfolio-items2 .portfolio-item img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #eee;
  border-bottom: 0;
  display: block;
  width: 100%;
  height: auto;
  box-shadow: #000 0 0 0;
}
.portfolio-items .portfolio-item figcaption,
.portfolio-items2 .portfolio-item figcaption {
  text-align: center;
  background: #f7f7f7;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #eee;
  padding: 15px;
}
.portfolio-items .portfolio-item figcaption h2,
.portfolio-items2 .portfolio-item figcaption h2 {
  font-size: 13px;
  margin: 5px 0 25px;
  font-weight: 500;
  color: #444;
}
.portfolio-items .portfolio-item figure a,
.portfolio-items2 .portfolio-item figure a {
  display: block;
}
.portfolio-items .portfolio-item figcaption a,
.portfolio-items2 .portfolio-item figcaption a {
  transition: .2s;
  font-family: inherit;
  font-size: 15px;
  font-style: inherit;
  font-weight: inherit;
  color: #666;
  background: #fff;
  border: 1px solid #ddd;
  padding: 12px 20px;
  margin: 0 5px 5px 0;
  display: inline-block;
  border-radius: 3px;
  text-shadow: none;
  outline: 0;
  -webkit-appearance: none;
}
.portfolio-items .portfolio-item figcaption a:hover,
.portfolio-items2 .portfolio-item figcaption a:hover {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .portfolio-small {
    padding: 15px;
    padding-top: 250px;
    padding-bottom: 100px;
  }
  .portfolio-small .portfolio-nav li {
    margin-top: 50px;
    display: inline-block !important;
  }
  .portfolio-item {
    width: 49% !important;
  }
}
@media (min-width: 1200px) {
  .portfolio-small {
    padding-left: 130px;
    padding-right: 130px;
  }
  .portfolio-item {
    width: 33% !important;
  }
}
