#services {
  margin-top: 50px;
}
.services {
  background: rgba(2, 168, 243, 0.1);
  background: -webkit-linear-gradient(to bottom, transparent, rgba(2, 168, 243, 0.1));
  background: linear-gradient(to bottom, transparent, rgba(2, 168, 243, 0.1));
  padding: 10px;
  padding-bottom: 100px;
}
.services .services-item {
  padding: 30px;
  padding-top: 70px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
}
.services .services-item h5 {
  text-transform: uppercase;
  color: #02a8f3;
}
.services .services-item ul {
  padding-left: 20px;
  padding-bottom: 50px;
}
.services .services-item ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #555;
  font-size: 14px;
}
@media (min-width: 768px) {
  .services {
    padding: 50px;
    padding-bottom: 100px;
  }
  .services .services-item {
    padding: 50px;
    padding-top: 70px;
  }
}
@media (min-width: 1200px) {
  .services {
    padding: 50px 155px;
    padding-bottom: 200px;
  }
}
