.start-info {
  border-radius: 6px;
  padding: 50px 20px;
}
.start-info span {
  display: block;
  margin-top: 50px;
}
.start-info a {
  transition: 0.3s;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  color: #02a8f3;
  transition: all 0.3s;
  background-image: url('/images/d-wave.gif');
  background-size: cover;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  text-transform: uppercase;
}
.start-info a:hover {
  color: transparent;
}
.start-info h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.start-info .mouse {
  margin-top: 50px;
}
.start-info .mouse img {
  width: 100%;
}
@media (min-width: 768px) {
  .start-info {
    padding: 100px 80px;
    padding-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .start-info {
    padding-bottom: 0px;
  }
}
