<nav class="navbar navbar-default head">
	<div class="navbar-header">
		<div class="dop-bg">
			<button type="button" class="navbar-toggle collapsed animated pulse infinite" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
			</button>
		</div>
		<a href="/" class="navbar-brand">
			<ul>
				<li class="text-center"><img src="/images/favicon.png"></li>
				<li>[ volitilov ]</li>
			</ul>
		</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="navbar-text">
			<li><a href="/">Home</a></li>
			<li>Portfolio</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="m-i"><a href="/info" title="info"><img src="/images/icons/info/info-black.svg"/>Info</a></li>
			<li class="active m-i x"><a href="/portfolio" title="portfolio"><img src="/images/icons/portfolio/portfolio-white.svg"/>Portfolio</a></li>
			<li class="contacts"><a href="/contacts" class="btn-black" title="contacts">Contacts</a></li>
		</ul>
	</div>
</nav>