.face-item-3 {
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
}
.face-item-3 h4 {
  text-transform: uppercase;
  color: #02a8f3;
}
.face-item-3 p {
  font-size: 12px;
}
.face-item-3 .advantages-description {
  margin-bottom: 50px;
}
.face-item-3 .advantages-description img {
  margin-bottom: 20px;
  width: 40px;
}
.face-item-3 .advantages-item {
  padding-right: 20px;
  padding-left: 20px;
}
.face-item-3 .advantages-item img {
  width: 130px;
  margin-bottom: -40px;
}
.face-item-3 .advantages-item p {
  margin: 10px;
}
@media (min-width: 768px) {
  .face-item-3 {
    padding-top: 80px;
    padding-bottom: 150px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .face-item-3 .advantages-description img {
    width: 45px;
  }
}
@media (min-width: 996px) {
  .face-item-3 {
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
