footer {
  z-index: -1;
  text-transform: uppercase;
  padding: 0px !important;
  font-size: 12px;
  background: #02a8f3;
}
footer .footer-body {
  text-align: center;
  z-index: 99;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-color: #02a8f3;
  margin-top: -5px;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer .footer-body form {
  position: relative;
  left: 50%;
  margin-left: -49%;
  width: 98%;
  -webkit-box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 22px 45px -15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
}
footer .footer-body form fieldset {
  border: none !important;
}
footer .footer-body form input {
  display: inline-block;
  color: #333;
  transition: 0.3s;
  background-color: transparent !important;
  padding-left: 20px;
  width: 80%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 3px solid #333;
}
footer .footer-body form input:focus {
  border-radius: 6px;
  border: 3px solid #02a8f3;
  -webkit-appearance: caps-lock-indicator;
  outline: none;
}
footer .footer-body form textarea {
  color: #333;
  transition: 0.3s;
  background-color: transparent !important;
  padding-left: 20px;
  padding-top: 20px;
  width: 80%;
  border-radius: 10px;
  height: 200px;
  border: 3px solid #333;
}
footer .footer-body form textarea:focus {
  border-radius: 6px;
  border: 3px solid #02a8f3;
  -webkit-appearance: caps-lock-indicator;
  outline: none;
}
footer .footer-body form input::-webkit-input-placeholder,
footer .footer-body form textarea::-webkit-input-placeholder {
  color: #333;
}
footer .footer-body form input::-webkit-outer-spin-button,
footer .footer-body form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
footer .footer-body form legend {
  display: none;
}
footer .footer-body form button {
  margin-top: 10px;
  border: none;
  color: #02a8f3;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  background-color: #333;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
}
footer .footer-body form button:hover {
  cursor: pointer;
  box-shadow: none;
}
footer .bottom-text {
  text-align: center;
  z-index: 199;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
  background-image: url("/images/main_bg.png");
  margin-top: -5px;
  padding: 15px;
  padding-top: 20px;
}
footer .bottom-text a {
  font-size: 10px;
  font-weight: bold;
  padding: 0px !important;
  padding-right: 15px !important;
  margin-right: 15px;
}
footer .bottom-text a:after {
  transition: all 0.3s;
  color: #02a8f3;
  top: -2px;
  right: -7px;
  font-size: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "â¯";
}
footer .bottom-text a:hover {
  text-decoration: underline !important;
}
footer .bottom-text a:hover:after {
  right: -12px;
}
footer .bottom-text p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}
footer .bottom-text p a {
  margin-left: 5px;
}
footer .bottom-text ul {
  margin-top: 25px;
  padding: 0px;
  list-style: none;
}
footer .bottom-text ul li {
  padding: 0px;
  display: inline-block;
}
footer .bottom-text ul li i {
  color: grey;
  font-size: 17px;
}
@media (min-width: 768px) {
  footer:before {
    content: '';
    width: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.1);
  }
  footer:after {
    content: '';
    width: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.1);
  }
  footer .footer-body {
    padding: 50px;
  }
  footer .footer-body:before {
    content: '';
    width: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.1);
  }
  footer .footer-body:after {
    content: '';
    width: 155px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.1);
  }
  footer .footer-body form {
    margin-left: -37%;
    width: 74%;
  }
  footer .footer-body form input {
    width: 40%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  footer .footer-body form textarea {
    margin-top: 10px;
    margin-left: -5px;
    width: 80%;
  }
  footer .bottom-text {
    padding-left: 55px;
    padding-right: 55px;
  }
  footer .bottom-text p {
    text-align: left;
  }
  footer .bottom-text ul {
    text-align: right;
    margin-top: -25px;
  }
}
@media (min-width: 996px) {
  footer .footer-body form input {
    width: 25%;
  }
  footer .footer-body form textarea {
    width: 51%;
  }
  footer .bottom-text {
    padding-left: 215px;
    padding-right: 215px;
  }
}
