.pricess-item-1 {
  padding-top: 10px;
  padding-bottom: 0px;
}
.pricess-item-1 ul {
  padding: 0px;
  list-style: none;
}
.pricess-item-1 ul .item {
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.pricess-item-1 ul .item .head-item img {
  width: 15%;
}
.pricess-item-1 ul .item .head-item h5 {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.pricess-item-1 ul .item .body-item .price {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}
.pricess-item-1 ul .item .body-item .price h1 {
  color: #02a8f3;
}
.pricess-item-1 ul .item .body-item .price p {
  color: rgba(0, 0, 0, 0.4);
}
.pricess-item-1 ul .item .body-item .description {
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.pricess-item-1 ul .item .body-item .description ul {
  list-style: disc;
}
.pricess-item-1 ul .item .body-item .description ul li {
  padding-top: 3px;
  padding-bottom: 3px;
}
.pricess-item-1 ul .item button {
  color: white;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  background-color: #02a8f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 10px 25px;
  padding-left: 20px;
}
.pricess-item-1 ul .item button:after {
  transition: all 0.3s;
  color: white;
  top: -2px;
  right: -10px;
  font-size: 9px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
.pricess-item-1 ul .item button:hover {
  cursor: pointer;
}
.pricess-item-1 ul .item button:hover:after {
  right: -15px;
}
.pricess-item-1 ul .x {
  border: 2px solid #02a8f3;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .pricess-item-1 {
    padding-left: 190px;
    padding-right: 190px;
  }
  .pricess-item-1 ul .item {
    padding: 50px;
  }
}
@media (min-width: 996px) {
  .pricess-item-1 {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .pricess-item-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
