<footer>
	<div class="col-xs-12 footer">
		<h5>Foollow me</h5>
		<p>Get notified when we release new work.</p>
		<ul>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-vk"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<!-- <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li> -->
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa fa-behance"></i></a></li>
			<!-- <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
			<li><a href="#"><i class="fa fa-codepen"></i></a></li>
			<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			<li><a href="#"><i class="fa fa-github"></i></a></li>
			<!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
		</ul>
		<div class="col-xs-12 copyright">
			<p>Copyright  © 2016. All Rights Reserved.</p>
		</div>
		<!-- <div class="col-xs-12 col-md-6 language">
			<ul>
				<li class="x"><a>eng</a></li>
				<li><a href="#">rus</a></li>
				<li><a href="#">fra</a></li>
				<li><a href="#">deu</a></li>
				<li><a href="#">ita</a></li>
			</ul>
		</div> -->
	</div>
</footer>