<li class="col-xs-12 col-md-4 state-active">
	<a href="item">
		<div class="col-xs-12 freebie-object">
			<div class="col-xs-12 freebie-image">
				<img alt="Snapfixx Landing Page Template[PSD] preview picture" class="media-object freebie-preview" src="/ex/Theme-1/small-image.png"/>
			</div>
			<div class="col-xs-12 freebie-body">
				<h4>Snapfixx Landing Page</h4>
				<p>This freebie is a simple and minimal design landing page PSD template. You can easily customise the template according to your needs to create the ...</p>
				<div class="freebie-actions">
					<div class="col-xs-7 fb">
						<ul>
							<li>HTML</li>
							<li>CSS</li>
							<li>JS</li>
						</ul>
					</div>
					<!-- <div class="col-xs-5 fb">
						<span class="freebie-action inline-icon">

							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
							<path d="M12.5,4C13.879,4,15,5.346,15,7c0,3.154-3.818,5.713-6,6.801C6.816,12.711,3,10.152,3,7  c0-1.654,1.122-3,2.5-3c1.078,0,2.691,2.062,2.691,2.062c0.399,0.549,1.218,0.549,1.618,0C9.809,6.062,11.266,4,12.5,4 M12.5,2  C11.086,2,9.824,2.866,9,4C8.175,2.866,6.915,2,5.5,2C3.015,2,1,4.238,1,7c0,5.719,8,9,8,9s8-3.281,8-9C17,4.238,14.984,2,12.5,2  L12.5,2z"></path>
							</svg>

							<span>1</span>
						</span>
						<span class="freebie-action inline-icon">

							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 18 18" class="pxlton" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
							<path d="M9,2C5.737,2,2.475,4.333,0,9c2.475,4.667,5.737,7,9,7c3.264,0,6.525-2.332,9-7C15.525,4.333,12.264,2,9,2  L9,2z M9,14c-2.372,0-4.779-1.809-6.703-5C4.221,5.809,6.628,4,9,4s4.779,1.809,6.703,5C13.779,12.191,11.372,14,9,14L9,14z M9,6  C7.343,6,6,7.343,6,9c0,1.658,1.343,3,3,3s3-1.342,3-3C12,7.343,10.657,6,9,6L9,6z M9,10c-0.553,0-1-0.447-1-1c0-0.553,0.447-1,1-1  c0.553,0,1,0.447,1,1C10,9.553,9.553,10,9,10L9,10z"></path>
							</svg>

							<span>141</span>
						</span>
					</div> -->
				</div>
			</div>
		</div>
	</a>
</li>