.facts-box {
  min-height: 850px;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 150px;
}
.facts-box h4 {
  text-transform: uppercase;
  color: black;
}
.facts-box p {
  font-size: 12px;
  color: #333 !important;
}
.facts-box .facts-description img {
  margin-bottom: 20px;
  width: 60px !important;
}
.facts-box .facts {
  margin-top: 50px;
}
.facts-box .facts ul {
  padding: 0px;
  list-style: none;
  display: block;
}
.facts-box .facts .facts-item h3 {
  color: black;
}
.facts-box .facts .facts-item p {
  font-weight: bold;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .facts-box {
    min-height: 650px;
    padding-bottom: 50px;
    padding-left: 16%;
    padding-right: 16%;
  }
}
@media (min-width: 996px) {
  .facts-box {
    min-height: 850px;
    padding-top: 100px;
    padding-left: 170px;
    padding-right: 170px;
  }
  .facts-box .facts {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .facts-box .facts .b {
    margin-left: 25%;
  }
}
