footer {
  text-transform: uppercase;
  padding: 0px !important;
  font-size: 12px;
  background: #02a8f3;
}
footer h5 {
  color: black;
}
footer svg {
  margin-top: -48px;
}
footer .footer-logo {
  margin-top: -70px;
  padding-bottom: 10px;
  text-align: center;
}
footer .footer-logo img {
  width: 110px;
  height: auto;
}
footer .footer-body {
  z-index: 99;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-color: #02a8f3;
  margin-top: -5px;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
footer .footer-body .site-map {
  padding-left: 12%;
}
footer .footer-body .site-map h5 {
  font-size: 13px;
  color: black;
  margin-bottom: 20px;
}
footer .footer-body .site-map ul {
  padding: 0px;
  width: 42%;
  margin-right: 7%;
  list-style: none;
  display: inline-block;
}
footer .footer-body .site-map ul li {
  padding-top: 6px;
  padding-bottom: 6px;
}
footer .footer-body .site-map ul li a {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}
footer .footer-body .site-map ul li a:after {
  transition: all 0.3s;
  color: #333;
  top: -1px;
  right: -10px;
  font-size: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
footer .footer-body .site-map ul li a:hover {
  color: black;
}
footer .footer-body .site-map ul li a:hover:after {
  color: black;
  right: -15px;
}
footer .footer-body .shop-locator {
  padding-top: 20px;
  text-align: center;
}
footer .footer-body .shop-locator h5 {
  font-size: 10px;
  color: black;
  margin-bottom: 10px;
}
footer .footer-body .shop-locator i {
  color: #333;
  font-size: 25px;
}
footer .footer-body .shop-locator ul {
  padding: 0px;
  display: inline-block;
  list-style: none;
}
footer .footer-body .shop-locator ul li {
  padding-left: 5px;
}
footer .bottom-text {
  z-index: 199;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
  margin-top: -5px;
  padding: 15px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
footer .bottom-text a {
  font-size: 10px;
  font-weight: bold;
  padding: 0px !important;
  padding-right: 15px !important;
  margin-right: 15px;
  color: #02a8f3;
}
footer .bottom-text a:after {
  transition: all 0.3s;
  color: #02a8f3;
  top: -2px;
  right: -7px;
  font-size: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
footer .bottom-text a:hover {
  text-decoration: underline !important;
}
footer .bottom-text a:hover:after {
  right: -12px;
}
footer .bottom-text .copyright {
  text-align: center;
  display: inline;
  padding: 0px;
  padding-bottom: 20px;
}
footer .bottom-text .copyright a {
  padding-left: 10px !important;
}
footer .bottom-text .copyright p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding-right: 15px;
  margin-right: 10px;
}
footer .bottom-text .dop-info-footer {
  padding: 0px;
  padding-bottom: 25px;
  text-align: center;
}
footer .bottom-text .ac-gf {
  position: absolute;
  bottom: 0;
  margin-top: -2px;
  padding-right: 0px !important;
}
footer .bottom-text .ac-gf img {
  margin-right: 5px;
}
@media (min-width: 768px) {
  footer .footer-logo img {
    width: 120px;
  }
  footer .footer-body .site-map ul {
    width: 20%;
    margin-right: 2%;
  }
  footer .footer-body .shop-locator h5 {
    font-size: 13px;
    margin-bottom: 30px;
  }
  footer .footer-body .shop-locator i {
    font-size: 55px;
  }
  footer .bottom-text {
    padding-bottom: 10px;
  }
  footer .bottom-text .ac-gf {
    position: relative;
  }
}
@media (min-width: 996px) {
  footer .footer-logo img {
    width: 130px;
  }
  footer .footer-body {
    padding: 80px;
    padding-left: 8%;
    padding-right: 2%;
  }
  footer .footer-body .site-map {
    padding: 0px;
  }
  footer .footer-body .shop-locator {
    padding-top: 0px;
  }
  footer .footer-body .shop-locator ul {
    margin-top: 0px;
  }
  footer .bottom-text {
    padding: 20px;
    margin-top: 0px;
    padding-left: 7%;
    padding-right: 7%;
  }
  footer .bottom-text .copyright {
    text-align: left;
    padding: 0px;
  }
  footer .bottom-text .dop-info-footer {
    padding: 0px;
  }
  footer .bottom-text .dop-info-footer a {
    float: right;
  }
  footer .bottom-text .ac-gf {
    float: right;
  }
}
