.pagination {
  text-align: center;
  padding: 0px;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 40px;
}
.pagination ul {
  padding: 0px;
  list-style: none;
}
.pagination ul li {
  display: inline-block;
}
.pagination ul li a {
  transition: all 0.3s;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 3px solid #02a8f3;
  border-radius: 50%;
  padding-top: 9px;
  margin-right: 5px;
  font-weight: bold;
  text-align: center;
  color: #02a8f3;
}
.pagination ul li a:hover {
  color: #333;
  border-color: #333;
}
.pagination ul li .next:after {
  transition: all 0.3s;
  color: #02a8f3;
  top: -2;
  right: -1px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
.pagination ul li .next:hover:after {
  color: #333;
}
.pagination ul li .previous:after {
  transition: all 0.3s;
  color: #02a8f3;
  top: -2;
  right: -1px;
  font-size: 12px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
.pagination ul li .previous:hover:after {
  color: #333;
}
.pagination ul li .previous:after {
  top: 1px;
  right: 1px;
  -moz-transform: rotate(180deg);
  /* Firefox */
  -o-transform: rotate(180deg);
  /* Opera */
  -webkit-transform: rotate(180deg);
  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678);
  /* IE */
}
.pagination ul .active a {
  color: #333;
  border-color: #333;
}
