.block-mesage {
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  z-index: 1;
  color: #333;
}
.block-mesage h5 {
  font-weight: bold;
  text-transform: uppercase;
}
.block-mesage p {
  padding-bottom: 30px;
}
.block-mesage a {
  color: white;
  transition: 0.3s;
  font-size: 14px;
  font-weight: bold;
  background-color: #02a8f3;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  padding: 10px 25px;
  padding-left: 20px;
}
.block-mesage a:after {
  transition: all 0.3s;
  color: white;
  top: -2px;
  right: -10px;
  font-size: 9px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
.block-mesage a:hover:after {
  right: -15px;
}
