.services-small {
  background: rgba(2, 168, 243, 0.1);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, transparent, rgba(2, 168, 243, 0.1));
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, transparent, rgba(2, 168, 243, 0.1));
  padding-top: 110px;
  padding-bottom: 110px;
  color: #333;
  font-size: 12px;
}
.services-small .services-small-item {
  padding: 0px;
  width: 250px;
  position: relative;
  left: 50%;
  margin-left: -125px;
}
.services-small .services-small-item .serv-ex-list {
  padding: 0px;
  margin-top: 20px;
  text-align: left;
}
.services-small .services-small-item .serv-ex-list h5 {
  text-transform: uppercase;
  color: #02a8f3;
}
.services-small .services-small-item .serv-ex-list ul {
  padding: 0px;
  list-style: none;
}
.services-small .services-small-item .serv-ex-list ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.services-small .services-small-item .serv-ex-list ul a {
  color: #02a8f3;
  font-size: 20px;
}
.services-small .services-small-item .serv-ex-list ul a:after {
  transition: 0.3s;
  color: #02a8f3;
  top: -1px;
  right: -7px;
  font-size: 10px !important;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "〉";
}
.services-small .services-small-item .serv-ex-list ul a:hover:after {
  right: -15px;
}
@media (min-width: 768px) {
  .services-small .services-small-item {
    width: 450px;
    left: 25%;
    margin-left: 0px;
  }
}
@media (min-width: 996px) {
  .services-small .services-small-item {
    width: 720px;
    left: 1%;
    margin-left: -5%;
  }
}
@media (min-width: 1200px) {
  .services-small {
    padding-left: 19%;
    padding-right: 19%;
  }
  .services-small .services-small-item {
    width: 920px;
    left: 0;
    margin-left: 0px;
  }
}
