.portfolio {
  padding: 0px;
  margin-bottom: 70px;
  margin-left: 3%;
  margin-top: 70px;
  width: 94.8%;
  min-height: 680px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.portfolio p {
  font-size: 12px;
  text-transform: none;
}
.portfolio .portfolio-page {
  padding: 20px;
}
.portfolio .portfolio-page img {
  margin-top: 100px;
  width: 15%;
}
.portfolio .portfolio-page .choose-category {
  color: #02a8f3;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.portfolio .portfolio-small {
  padding: 0px;
  padding-bottom: 250px;
  padding-top: 6px;
  margin-left: -42px;
  background: transparent;
}
@media (min-width: 768px) {
  .portfolio .portfolio-small {
    margin-left: -15px;
  }
}
@media (min-width: 996px) {
  .portfolio .portfolio-page {
    padding-top: 50px;
  }
  .portfolio .portfolio-page img {
    margin-top: 50px;
    width: 6%;
  }
  .portfolio .portfolio-small {
    margin-left: 30px;
  }
  .portfolio .portfolio-small ul li {
    margin-right: 100px;
  }
}
@media (min-width: 1350px) {
  .portfolio {
    padding: 0px;
  }
  .portfolio .portfolio-page {
    padding-top: 50px;
  }
  .portfolio .portfolio-page img {
    width: 5%;
  }
  .portfolio .portfolio-small {
    width: 970px;
    margin-left: -45px;
    margin-top: 20px;
    padding-right: 10px;
  }
  .portfolio .portfolio-small ul li {
    margin-right: 0px;
  }
}
