.services {
  padding: 0px;
  margin-bottom: 70px;
  margin-left: 3%;
  margin-top: 70px;
  width: 94.8%;
  min-height: 680px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.services ul {
  padding: 0px;
}
.services p {
  font-size: 12px;
  text-transform: none;
}
.services .services-page {
  padding: 30px;
}
.services .services-page img {
  margin-top: 100px;
  width: 15%;
}
.services .services-page .choose-category {
  color: #02a8f3;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.services .category-services {
  padding-top: 40px;
}
.services .category-services ul {
  margin-top: 50px;
  padding: 0px;
  list-style: none;
}
.services .category-services ul li {
  padding-top: 7px;
  padding-bottom: 7px;
}
.services .category-services ul li a {
  transition: all 0.2s;
  color: #02a8f3;
  font-weight: bold;
  font-size: 12px;
}
.services .category-services ul li a:after {
  transition: all 0.2s;
  color: #02a8f3;
  top: -2px;
  right: -7px;
  font-size: 9px;
  display: inline-block;
  position: relative;
  z-index: 1;
  content: "❯";
}
.services .category-services ul li a:hover {
  color: black;
}
.services .category-services ul li a:hover:after {
  color: black;
  right: -12px;
}
@media (min-width: 768px) {
  .services .services-page img {
    width: 8%;
  }
  .services .category-services {
    padding-top: 20px;
  }
}
@media (min-width: 996px) {
  .services .services-page {
    padding-top: 50px;
  }
  .services .services-page img {
    margin-top: 50px;
    width: 6%;
  }
  .services .category-services {
    padding-top: 20px;
  }
}
@media (min-width: 1350px) {
  .services .services-page {
    padding-top: 70px;
  }
  .services .services-page img {
    width: 5%;
  }
  .services .category-services {
    padding: 30px;
  }
}
