.sign-up {
  height: auto;
  padding: 0px;
  text-align: center;
}
.sign-up .logo-company {
  height: 65px;
  z-index: 2;
  padding: 15px;
  background: #02a8f3;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.sign-up .logo-company img {
  width: 120px;
  height: 40px;
}
.sign-up .sign-up-form {
  margin-top: -5px;
  z-index: 1;
  height: auto;
  background: #02a8f3;
  background-image: url("../../images/stars.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .sign-up .logo-company {
    height: 75px;
    padding: 15px;
  }
  .sign-up .logo-company img {
    width: 135px;
    height: 45px;
  }
}
@media (min-width: 981px) {
  .sign-up .logo-company {
    height: 75px;
  }
  .sign-up .logo-company img {
    width: 135px;
    height: 45px;
  }
  .sign-up .sign-up-form {
    margin-bottom: -50px;
    min-height: 690px;
  }
}
